@media (max-width: 400px) {

}
/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --green: #005e49;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#content {
    flex: 1; 
}

.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
 a {
    text-decoration: none;
 }

.pageSection{
    margin: 20px 0 20px 50px ;
    flex: 1;
}

.pageTitle{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color:var(--green);
}

footer.footer {
    margin-top: 20px;
    padding: 10px 0;
    background-color: var(--green);
    text-align: center;
    position: relative;
    width: 100%;
    clear: both; 
}


/* ============= READ DATA ============= */
.tableContainer{
    margin: 15px;
    padding: 15px;
    width: 100%;
    border-radius: 20px 20px 10px 10px;
    box-shadow: 0px 0px 15px #047f416b;
}

.table-div{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 15px;
}

.pageSection .row {
    margin-top: 30px;
}

.table-div thead tr {
    background-color: var(--green);
    color: white;
    text-align: left;
}

.table-div th,
.table-div td{
    padding: 12px 15px;
}

.table-div tbody tr {
    border-bottom: 1px solid rgb(209, 209, 209);
}

.table-div tbody tr:nth-of-type(even){
    background-color: rgb(236, 236, 236);
}


.table-div tbody tr:hover{
    background-color: rgba(0, 255, 179, 0.114);
}

.btnAdd{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin-left: 86%;
    font-size: 14px;
    font-weight: bold;
    color: var(--white);
    padding: 8px;
    background-color: var(--green);
    border-radius: 5px;
}

.btnEdit{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: var(--white);
    padding: 5px 7px;
    background-color: orange;
    border-radius: 5px;
}
.btnRemove{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: var(--white);
    padding: 5px 7px;
    background-color: red;
    border-radius: 5px;
}

/* ========== CREATE DATA ======= */

.modal form{
    height: auto;
    width: 90%;
    position: relative;
    align-self: center;
}

.modal form .form{
    margin-bottom: 15px;
}

.modal form .form h5{
    font-size: 14px;
    font-weight: bold;
    color: var(--white);
}

.modal form .form .form-control,
.modal form .form select{
    width: 100%;
    height: 48px;
    margin-top: -10px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: gray;
    border-width: 0.5px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--black1);
}

form .form-group{
    text-align: end;
}

form button{
    width: 2cm;
    height: 1cm;
    margin: 30px 0 0 5px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.btn-danger{
    background-color: rgb(187, 16, 16);
    color: var(--white);
}
.btn-success{
    background-color: orange;
    color: var(--white);
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(66, 66, 66, 0.753);
}

.modal h3 {    
    position: relative;
    font-size: 40px;
    font-weight: bold;
    color: var(--white);
}

.modal-content {
    background-color:var(--green);
    margin: 5% auto;
    padding: 20px;
    width: 50%;
    border-radius: 15px;
}

.modal-close {
    color: #838383;
    float: right;
    font-size: 40px;
    margin-right: 20px;
    font-weight: bold;
    align-self: flex-end;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

